@import './variables.scss';

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 4em;
  width: 4em;
  padding: 0;
  font-size: 1em;
  line-height: 1;
  color: $button-font-colour;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: 0.1em;
  border-radius: 0.4em;
  background-color: transparent;
  transition:
    color 0.15s ease-in-out,
    background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;

  & > * {
    font-size: 2em;
  }

  &-active,
  &:hover,
  &:focus:not(.cdk-menu-item) {
    background-color: $button-hover-background-colour;
  }

  &-wide {
    width: auto;
    padding-left: 0.8em;
    padding-right: 0.4em;
  }

  &-eventless {
    pointer-events: none;
  }

  p {
    font-size: 1.4em;
    margin: 0 0.6em;
  }
}
