// $navbar-height: 4.8em;
$navbar-height: 5.6em;
$navbar-mobile-height: 9.6em;

$body-colour: #000;
$body-colour-alt: #1a1a1b;
$body-colour-accent: #272729;

$font-colour-alt: #818384;

$border-colour: #343536;

$button-font-colour: #d7dadc;
$button-hover-background-colour: #29292b;

$z-index-navbar: 1000;
$z-index-loading: 100;
