@if (displayedComments.length) {
  <div class="card-comments">
    <span id="appComments" class="comment-anchor"></span>
    @for (comment of displayedComments; track trackById(index, comment); let index = $index) {
      @if (!comment.hide) {
        <app-comment
          [isCollapsed]="comment.isCollapsed || 0"
          [comment]="comment"
          [isActive]="activeComment === comment.id"
          [confessionId]="confessionId"
          [highlightedCommentPath]="highlightedCommentPaths[index]"
          (onPathHover)="setHighlightedCommentPath($event)"
          (onPathLeave)="resetHighlightedCommentPath()"
          (onCollapseClick)="collapseTree($event)"
          (onCommentAdded)="addComment($event)"
        ></app-comment>
      }
    }
  </div>
}
