<p>faq works!</p>

<!-- <div class="card">
  <h2 class="post-aside-title">FAQ</h2>
  <ul>
    <li>
      <p>Q: How to recover a forgotten password</p>
      <p>A: Use the forgotten password button under the login</p>
    </li>
    <li>
      <p>Q: How do I create an account?</p>
      <p>A: Use this link to taken to a sign in form</p>
    </li>
    <li>
      <p>Q: How do I submit a post?</p>
      <p>A: With an email validated account use this link to be taken to the create a post page</p>
    </li>
    <li>
      <p>Q: What are moderators, and how do I become one?</p>
      <p>A: Use the contact form on this page for more information on what a moderator is and why you feel you meet the criteria to become a mod</p>
    </li>
    <li>
      <p>Q: Why was my post/comment removed?</p>
      <p>A: Your post/comment was mostly likely flagged as breaking our terms and removed by a mod</p>
    </li>
    <li>
      <p>Q: How can I report inappropriate content or users?</p>
      <p>A: Use the report action in the post/comments more menu</p>
    </li>
    <li>
      <p>Q: How can I delete my account?</p>
      <p>A: Use the delete account action in the account settings page</p>
    </li>
    <li>
      <p>Q: Are there any community guidelines or rules?</p>
      <p>A: Use this link to be taken to our policy pages</p>
    </li>
    <li>
      <p>Q: Is there a mobile app for this platform?</p>
      <p>A: Not currently but there is one in progress</p>
    </li>
  </ul>
  <p>Still have questions? If you didn't find what you need, contact us using the form opposite.</p>
</div> -->
