@import '../../../styles/variables.scss';

:host {

  .comment-anchor {
    position: absolute;
    top: -$navbar-height;
  }

  .comment-pre {
    position: relative;
    width: 2.5em;
    flex: 0 0 2.5em;

    &-highlighted {
      .thread-line:before,
      & + .comment-pre .thread-line-connection {
        border-color: $button-font-colour;
      }
    }

    &-trim::before {
      content: '';
      display: block;
      position: absolute;
      background-color: $body-colour-alt;
      left: 0;
      right: 0;
      margin: auto;
      width: 4px;
      height: 25px;
      z-index: 1;
    }
  }

  .avatar {
    position: absolute;
    left: 0;
    right: 0;
    top: 23px;
    margin: auto;
    border: 1px solid $button-font-colour;
    color: $button-font-colour;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    z-index: 1;
    background-color: $body-colour-alt;
    cursor: pointer;

    span {
      font-size: 2em;
      line-height: 1.3rem;
      height: 1.4rem;
    }

    &:hover,
    &:focus {
      color: #fff;
    }

    .avatar-plus {
      font-size: 1.4em;
      line-height: 1.35rem;
    }
  }

  .thread-line {
    display: inline-block;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    top: 20px;

    &-last {
      height: 0;
    }

    &:before {
      content: '';
      display: inline-block;
      border-left: 1px solid $border-colour;
      height: 100%;
    }
  }

  .thread-line-connection {
    position: absolute;
    top: 16px;
    left: -1.3em;
    height: 1.4em;
    width: 1.3em;
    border-bottom: 1px solid $border-colour;
    border-left: 1px solid $border-colour;
    border-bottom-left-radius: 1.2em;
    pointer-events: none;
  }

  .comment-container {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    margin: 0;
    // min-height: 6.8em;

    &-yours {

      .comment {
        border-color: #fff;
      }

      .comment::after {
        border-right: 11px solid #fff;
      }
    }
  }

  .comment-wrap {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex: 1 0 20em;
    position: relative;
    margin: 0 0 0 1.2em;
    // min-height: 6.8em;

    &.flash-once {
      animation-delay: 1100ms;
    }
  }

  .comment {
    flex: 1 0 auto;
    max-width: 50em;
    width: 0;
    border: 0.1em solid $border-colour;
    padding: 0.8em;
    border-radius: 0.4em;
    margin: 0 0 0.8em;
    // min-height: 4.2em;

    &.comment-highlight {
      border-color: red !important;
    }

    &::before {
      border-bottom: 8px solid transparent;
      border-right: 9px solid $body-colour-alt;
      border-top: 8px solid transparent;
      left: -8px;
      top: 18px;
      height: 0;
      position: absolute;
      content: '';
      z-index: 2;
    }

    &::after {
      content: '';
      border-bottom: 10px solid transparent;
      border-right: 11px solid $border-colour;
      border-top: 10px solid transparent;
      left: -10px;
      top: 16px;
      height: 0;
      position: absolute;
    }
  }

  .comment-collapsed {

    p {
      font-size: 1.2em;
      margin-top: 1.6em;
      color: $button-font-colour;
    }
  }

  .comment-reply-wrap {
    display: flex;
    flex: 1 0 auto;
    width: 0;
    min-width: 100%;
    margin: 0 0 0.8em;

    textarea {
      background-color: transparent;
      border-width: 0;
      font-size: 1.4em;
      line-height: 1.4em;
      width: 100%;
      height: auto;
      min-height: 80px;
      padding: 0.8em;
      box-sizing: border-box;
      color: #fff;
      outline-width: 0;

      &::placeholder {
        color: $font-colour-alt;
      }
    }
  }

  .comment-reply-form {
    border: 1px solid $border-colour;
    border-radius: 4px;
    width: 51.6em;

    &-focused {
      border-color: $button-font-colour;
    }

    &-actions {
      border-top: 1px solid $border-colour;
      text-align: right;
      padding: 0.6em;

      button {
        display: inline-block;
        border-width: 0;
        background-color: $button-font-colour;
        color: $body-colour-alt;
        border: 0.1em solid $button-font-colour;
        border-radius: 2em;
        height: 3em;
        padding: 0 1.6em;
        margin: 0 0 0 0.6em;
        cursor: pointer;
        transition: background-color 0.15s ease-in-out;

        &:hover,
        &:focus {
          background-color: #fff;
          border-color: #fff;
        }

        &:disabled {
          opacity: 0.6;
          cursor: not-allowed;
        }

        span {
          font-size: 1.2em;
          line-height: 1;
          color: $body-colour-alt;
        }

        &.comment-reply-form-action-secondary {
          background-color: $border-colour;

          span {
            color: $button-font-colour;
          }
        }
      }
    }
  }

  .comment-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $font-colour-alt;
    margin: 0 0 0.4em;

    .comment-meta p {
      font-size: 1.2em;
      margin: 0;
      white-space: pre;
    }

    .comment-actions {

      ul {
        margin: 0;
        padding: 0;
        line-height: 0;
      }

      li {
        display: inline-block;
        margin-left: 0.8em;

        button {
          all: unset;
          display: flex;
          align-items: center;
          height: 1.8em;
          line-height: 1;
          cursor: pointer;

          &:hover,
          &:focus {
            color: #fff;
          }
        }

        span {
          font-size: 1.6em;
          line-height: 0;
        }
      }
    }
  }

  .comment-body {

    p {
      // display: -webkit-box;
      // -webkit-line-clamp: 2;
      // -webkit-box-orient: vertical;
      // overflow: hidden;
      font-size: 1.4em;
      color: $button-font-colour;
      margin: 0;
      white-space: pre-wrap;
    }
  }

  .card-comments-action {
    text-align: center;

    button {
      height: auto;
      padding: 1em;
    }

    span {
      font-size: 1.2em;
      color: $font-colour-alt;

      &:not(:last-child) {
        margin-right: 0.4em;
      }
    }
  }
}

.more-list {
  margin: 0 -0.2em;
  padding: 0;

  li {
    display: block;
    margin: 0 0.2em 0;
  }

  button {
    width: 100%;
  }
}
