<div [hidden]="! modal.isActivated" class="overlap">
  <div class="home">
    <router-outlet name="modal" #modal="outlet"></router-outlet>
  </div>
</div>

<div [hidden]="modal.isActivated" class="home" [ngClass]="{'home-loading': isLoading}">
  <div class="container">
    <app-create></app-create>
    @if (!(searchedTerm || searchedTag)) {
      <app-filters
        [tagsEnabled]="true"
        [trendingEnabled]="true"
        [bestActive]="[Sort.BestMonth, Sort.BestYear].includes(sort) && sort"
        [newestActive]="sort === Sort.Newest"
        [trendingActive]="sort === Sort.Trending"
        (onNewestClicked)="sort = Sort.Newest; sortNewConfessions()"
        (onBestClicked)="sort = $event; sortNewConfessions()"
        (onTrendingClicked)="sort = Sort.Trending; sortNewConfessions()"
      ></app-filters>
    }
    @if (searchedTerm) {
      <h2>Results for: "{{searchedTerm}}"</h2>
    }
    @if (searchedTag) {
      <h2>Results for tag: "{{searchedTag}}"</h2>
    }

    @if (isLoading && ! hasErrored) {
      <div>
        <app-preview-loading></app-preview-loading>
      </div>
    }

    @if (hasErrored) {
      <p class="feed-error">
        <span class="feed-error-icon">(˚Δ˚)b</span>
        Error getting confessions. Try refreshing.
      </p>
    }

    @if (! isLoading || ! hasErrored) {
      <app-feed
        [items]="confessions"
        [routerOutletRef]="modal"
        [routerOutletActive]="modal.isActivated"
        (loadMoreConfessions)="loadMoreConfessions()"
      ></app-feed>
    }

    @if (isLoadingMore) {
      <p class="loading-more text-loading">Loading More...</p>
    }
  </div>

  <aside class="side">
    <app-sidebar></app-sidebar>
  </aside>
</div>
