<div class="confession">
  <div class="container">
    <app-item
      [confession]="confessions[activeConfessionIndex]"
    ></app-item>

    @if (confessions[activeConfessionIndex].tags.length >= 5) {
      <p>Similar Confessions:</p>
      @if (isLoading) {
        <p class="loading-more text-loading">Loading...</p>
      }
      @if (!isLoading && confessions[activeConfessionIndex].similarConfessions) {
        <app-feed
          [items]="confessions[activeConfessionIndex].similarConfessions || []"
          [routerOutletActive]="false"
          [routerOutletRef]="route.outlet === 'modal'"
          (loadMoreConfessions)="loadMoreConfessions()"
        ></app-feed>
      }
    }

    @if (isLoadingMore) {
      <p class="loading-more text-loading">Loading More...</p>
    }
  </div>

  <aside class="side">
    <app-sidebar
      [showSuicidePreventionMessage]="showSuicidePreventionMessage"
    ></app-sidebar>
  </aside>
</div>
