<div class="post">
  <div class="container">
    <div class="container-header">
      <div class="container-header-left">
        <h1>Contact Us</h1>
      </div>
    </div>
    @if (!loading) {
      @if (!showThanks) {
        <div class="card">
          <div class="card-header">
            <button class="header-tab"><span>Message</span></button>
          </div>
          <form
            #reportForm="ngForm"
            (submit)="sendReport()"
            >
            <textarea
              [(ngModel)]="message"
              class="post-input"
              placeholder="Write your message"
              name="message"
            ></textarea>
            <div class="button-group">
              <button
                class="post-button"
                type="submit"
                [disabled]="!reportForm.valid"
                ><span>Send</span></button>
              </div>
            </form>
          </div>
        }
        @if (showThanks) {
          <p>Thank you for contacting us. We appreciate you taking the time to reach out and value your input. Your message has been received, and our team is currently reviewing your inquiry.</p>
        }
      }
      @if (loading) {
        <p>Sending...</p>
      }
    </div>

    <aside class="post-aside">
      <div class="card">
        <p>If you have an account and want to report a <a href="/policies/content-policy">Content Policy</a> violation, use the report option nested in the more menu of the offending post or comment.</p>
      </div>

      <div class="aside-meta">
        <p>
          For further details on our rules and policies
        </p>&nbsp;<a
        href="javascript:;"
        routerLink="/policies"
        routerLinkActive="menu-item-active">click here
      </a>
    </div>
  </aside>
</div>
