<app-filters
  [tagsEnabled]="false"
  [trendingEnabled]="false"
  [reactionTypeEnabled]="true"
  [activeReaction]="activeReaction"
></app-filters>

@for (reaction of userReaction; track trackById($index, reaction)) {
  <div>
    @if (reaction.confession) {
      <app-preview
        [confession]="reaction.confession"
        [reaction]="reaction"
      ></app-preview>
    }
  </div>
}

@if (! endOfLikes) {
  <button
    (click)="loadMore()"
    class="button button-wide account-more-button"
  >Load More</button>
}
