<app-navbar [ngClass]="{'navbar-banned': banned}"></app-navbar>

@if (!banned) {
  <main class="app-container" [ngClass]="{'app-container-snow': isDecemberOrJanuary}">
    @if (isDecemberOrJanuary) {
      @for (snow of [].constructor(50); track snow) {
        <div class="snow"></div>
      }
    }
    <!-- <nav>
    <a
      class="menu-item"
      routerLink="/confessions"
      routerLinkActive="menu-item-active"
      [routerLinkActiveOptions]="{ exact: true }">
      <span>Confessions</span>
    </a>
    <a class="menu-item" routerLink="/about" routerLinkActive="menu-item-active">
      <span>About</span>
    </a>
    <a
      class="menu-item"
      *ngIf="auth.isLoggedOut$ | async"
      routerLink="/login"
      routerLinkActive="menu-item-active">
      <span>Login</span>
    </a>
  </nav> -->
  <loading [detectRoutingOngoing]="true"></loading>
  <router-outlet></router-outlet>
</main>
}
