<div class="card">
  <div class="dialog-header">
    <h2>
      Share
    </h2>
    <button
      class="button"
      (click)="dialogRef.close()"
    >
      <span class="material-icons">close</span>
    </button>
  </div>
  <div class="dialog-body">
    <ul class="share-list">
      <li>
        <button (click)="shareOnFacebook()" class="button button-wide button-share">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
            <path d="M25,3C12.85,3,3,12.85,3,25c0,11.03,8.125,20.137,18.712,21.728V30.831h-5.443v-5.783h5.443v-3.848 c0-6.371,3.104-9.168,8.399-9.168c2.536,0,3.877,0.188,4.512,0.274v5.048h-3.612c-2.248,0-3.033,2.131-3.033,4.533v3.161h6.588 l-0.894,5.783h-5.694v15.944C38.716,45.318,47,36.137,47,25C47,12.85,37.15,3,25,3z"></path>
          </svg>
          <span class="button-share-label">Facebook</span>
        </button>
      </li>
      <li>
        <button (click)="shareOnTwitter()" class="button button-wide button-share">
          <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="30" height="30" viewBox="0 0 50 50">
            <path d="M 11 4 C 7.134 4 4 7.134 4 11 L 4 39 C 4 42.866 7.134 46 11 46 L 39 46 C 42.866 46 46 42.866 46 39 L 46 11 C 46 7.134 42.866 4 39 4 L 11 4 z M 13.085938 13 L 21.023438 13 L 26.660156 21.009766 L 33.5 13 L 36 13 L 27.789062 22.613281 L 37.914062 37 L 29.978516 37 L 23.4375 27.707031 L 15.5 37 L 13 37 L 22.308594 26.103516 L 13.085938 13 z M 16.914062 15 L 31.021484 35 L 34.085938 35 L 19.978516 15 L 16.914062 15 z"></path>
          </svg>
          <span class="button-share-label">X</span>
        </button>
      </li>
      <li>
        <button (click)="copyLink()" class="button button-wide button-share">
          <span class="material-icons">link</span>
          <span class="button-share-label">{{linkCopied ? 'Copied!' : 'Copy Link'}}</span>
        </button>
      </li>
    </ul>
  </div>
</div>
