<div class="tags">
  <div class="container">
    <div class="container-header">
      <h1 class="container-title">Tags</h1>
      <app-filters
        [tagsEnabled]="true"
        [trendingEnabled]="true"
        [newestActive]="false"
        [trendingActive]="false"
        (onNewestClicked)="newestClicked()"
        (onTrendingClicked)="trendingClicked()"
      ></app-filters>
    </div>
    <div class="card">
      <h2>Trending tags:</h2>
      @if (isLoading) {
        <ul class="bullets">
          @for (i of trendingTagsPlaceholders; track i) {
            <li>
              <span class="bullet bullet-empty" [style.width.px]="i"></span>
            </li>
          }
        </ul>
      }
      @if (!isLoading) {
        <ul class="bullets">
          @for (tag of trendingTags; track tag) {
            <li>
              <a class="bullet" [routerLink]="['/search']" [queryParams]="{tag: tag}">{{tag}}</a>
            </li>
          }
        </ul>
      }

      <hr>

        <h2>Most popular tags:</h2>
        @if (isLoading) {
          <ul class="bullets">
            @for (i of topTagsPlaceholders; track i) {
              <li>
                <span class="bullet bullet-empty" [style.width.px]="i"></span>
              </li>
            }
          </ul>
        }
        @if (!isLoading) {
          <ul class="bullets">
            @for (tag of topTags; track tag) {
              <li>
                <a class="bullet" [routerLink]="['/search']" [queryParams]="{tag: tag}">{{tag}}</a>
              </li>
            }
          </ul>
        }
      </div>
    </div>

    <aside class="side">
      <app-sidebar></app-sidebar>
    </aside>
  </div>
