@import '../../../styles/variables.scss';

:host {

  .button {
    margin-right: 0.6em;
    padding-right: 0.8em;

    // p {
    //   display: none;

    //   @media (min-width: 768px) {
    //     display: block;
    //   }
    // }
  }

  .card {
    display: flex;
    justify-content: space-between;
  }
}

.filter-list {
  margin: 0 -0.2em;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 0.2em 0;
  }

  button {
    font-size: 1.4em;
    padding: 0.6em 1em;
    height: auto;
  }
}

.seperator {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
  margin: 0 0.6em 0 0;
  border-left: 1px solid $font-colour-alt;
}
