<div class="card">
  <div class="left">
    @if (newestEnabled) {
      <button
        class="button button-wide"
      [ngClass]="{
        'button-eventless': ! tagsEnabled && ! trendingEnabled,
        'button-active': newestActive
      }"
        (click)="onNewestClicked.emit()"
        >
        <!-- tooltip="Newest"
        [tooltipDisabled]="!isDesktopWidth" -->
        <span class="material-icons">hourglass_empty</span>
        <p>Newest</p>
      </button>
    }

    @if (trendingEnabled) {
      <button
        class="button button-wide"
        [ngClass]="{'button-active': !! trendingActive}"
        (click)="onTrendingClicked.emit()"
        >
        <span class="material-icons">trending_up</span>
        <p>Trending</p>
      </button>
    }

    @if (tagsEnabled) {
      <span class="seperator"></span>
      <a
        class="button button-wide"
        [ngClass]="{'button-active': !! bestActive}"
        [routerLink]="'/tags'"
        >
        <span class="material-icons">tag</span>
        <p>Tags</p>
      </a>
    }
  </div>

  <div class="right">
    <!-- <button
    *ngIf="tagsEnabled"
    class="button button-wide"
    [cdkMenuTriggerFor]="trending"
    >
    <p>All Time</p>
  </button> -->
  @if (reactionTypeEnabled) {
    <button
      class="button button-wide"
      [cdkMenuTriggerFor]="reaction"
      >
      <p>Filter</p>
    </button>
  }
</div>
</div>

<ng-template #trending>
  <div class="card card-floating" cdkMenu>
    <ul class="filter-list">
      <!-- <li><button class="button button-wide" cdkMenuItem>Week</button></li> -->
      <li><button class="button button-wide" cdkMenuItem>Month</button></li>
      <li><button class="button button-wide" cdkMenuItem>Year</button></li>
      <!-- <li><button class="button button-wide" cdkMenuItem>All time</button></li> -->
    </ul>
  </div>
</ng-template>

<ng-template #reaction>
  <div class="card card-floating" cdkMenu>
    <ul class="filter-list">
      <li>
        <button
          class="button button-wide"
          [ngClass]="{'button-active': !activeReaction}"
          routerLink="./"
          cdkMenuItem
        >All</button>
      </li>
      @for (reaction of reactions; track reaction) {
        <li>
          <button
            class="button button-wide"
            [ngClass]="{'button-active': activeReaction === reaction.value}"
            routerLink="./"
            [queryParams]="{reaction: reaction.value}"
            cdkMenuItem
          >{{reaction.label}}</button>
        </li>
      }
    </ul>
  </div>
</ng-template>

<ng-template #best>
  <div class="card card-floating" cdkMenu>
    <ul class="filter-list">
      <!-- <li>
      <button
        class="button button-wide"
        [ngClass]="{'button-active': bestActive === Sort.BestWeek}"
        cdkMenuItem
        (click)="onBestClicked.emit(Sort.BestWeek)"
        >
        Week
      </button>
    </li> -->
    <li>
      <button
        class="button button-wide"
        [ngClass]="{'button-active': bestActive === Sort.BestMonth}"
        cdkMenuItem
        (click)="onBestClicked.emit(Sort.BestMonth)"
        >
        Month
      </button>
    </li>
    <li>
      <button
        class="button button-wide"
        [ngClass]="{'button-active': bestActive === Sort.BestYear}"
        cdkMenuItem
        (click)="onBestClicked.emit(Sort.BestYear)"
        >
        Year
      </button>
    </li>
    <!-- <li>
    <button
      class="button button-wide"
      [ngClass]="{'button-active': bestActive === Sort.BestAll}"
      cdkMenuItem
      (click)="onBestClicked.emit(Sort.BestAll)"
      >
      All time
    </button>
  </li> -->
</ul>
</div>
</ng-template>
