<h1>General Rules:</h1>
<p class="warning">Any post that doesn't meet these requirements will be removed.</p>
<ol>
  <li>
    <h2 class="title">Author is over 18 years old.</h2>
    <p>All posts and comments must be authored by users over the age of 18.</p>
  </li>
  <li>
    <h2 class="title">Posts must be a confession, secret or personal story</h2>
    <h3 class="sub-title">What do we consider a confession?</h3>
    <p>A confession is a formal acknowledgment or admission of a wrongdoing, guilt, or some other fact. It involves an individual openly admitting to something they might have kept secret, such as a mistake, a transgression, or a personal truth.</p>
  </li>
  <li>
    <h2 class="title">No hate speech</h2>
    <p>Refrain from promoting hate speech, racism, sexism, religion-bashing, name-calling, insults, and any other abusive/threatening language. "Abusive language" includes posts which are malicious or insulting in nature.</p>
  </li>
  <li><h2 class="title">No Clickbait</h2></li>
  <li>
    <h2 class="title">No Misinformation</h2>
    <p>Any content that spreads false information about health or politics</p>
  </li>
  <li>
    <h2 class="title">No Trolling</h2>
    <p>No memes, trolling, or otherwise blatantly low-effort content. Stay on topic all posts and comments should be of substance and contribute to the conversation.</p>
  </li>
  <li>
    <h2 class="title">No Doxxing</h2>
    <p>Or sharing of any personal information.</p>
  </li>
  <li>
    <h2 class="title">No Impersonation or Fake Accounts</h2>
    <p>Any content that impersonates individuals, organizations, or entities used to deceive others.</p>
  </li>
  <li>
    <h2 class="title">No Violence and Threats (Including sexual violence)</h2>
    <p>Content that glorifies or incites violence, promotes self-harm, or includes threats against individuals or groups.</p>
  </li>
  <li>
    <h2 class="title">No Child Exploitation</h2>
    <p>Any content that exploits or endangers children, including child sexual abuse material or any other form of child exploitation.</p>
  </li>
  <li>
    <h2 class="title">No Animal Abuse</h2>
  </li>
  <li>
    <h2 class="title">No Copyright Infringement or Trademark Violations</h2>
  </li>
  <li>
    <h2 class="title">No Crowdfunding, donations, or self-advertisement</h2>
    <h3 class="sub-title">No begging</h3>
    <p>We do not allow crowdfunding, donations or any other form of begging for financial assistance. This includes requesting money on the behalf of others as well as yourself. Links to GoFundMe, Paypal, CashApp, etc, will be grounds for an account/IP ban.</p>
    <h3 class="sub-title">No self promo</h3>
    <p>This sub also does not accept self-promotion or advertisement of any kind. Do not promote Youtube, Twitter, Twitch, Onlyfans, or any site or product.</p>
  </li>
  <li>
    <h2 class="title">Remember</h2>
    <p>Moderators reserve the right to remove content they deem harmful and repeat offenders will be banned.</p>
    <p>Users who believe their content was removed in error or their account was unjustly banned can appeal the decision through using the link provided in the notification or using the <a href="javascript:;" routerLink="/contact" cdkMenuItem>contact us</a> page.</p>
  </li>
</ol>
