<div class="account">
  <nav class="side-nav">
    <ul class="card">
      <li>
        <a
          href="javascript:;"
          routerLink="posts"
          routerLinkActive="menu-item-active"
        >My posts</a>
      </li>
      <li>
        <a
          href="javascript:;"
          routerLink="likes"
          routerLinkActive="menu-item-active"
        >My likes</a>
      </li>
      <li>
        <a
          href="javascript:;"
          routerLink="comments"
          routerLinkActive="menu-item-active"
        >My comments</a>
      </li>
      <li>
        <a
          href="javascript:;"
          routerLink="notifications"
          routerLinkActive="menu-item-active"
        >My notifications</a>
      </li>
      <li>
        <a
          href="javascript:;"
          routerLink="details"
          routerLinkActive="menu-item-active"
        >My details</a>
      </li>
    </ul>
  </nav>

  <div class="container">
    <router-outlet></router-outlet>
  </div>
</div>
