<h1>Privacy Policy</h1>
<p>Welcome to "Confess Your Sins". Your privacy is important to us, and we are committed to protecting the information you share with us. This Privacy Policy outlines how we collect, use, disclose, and protect your personal information when you use our app.</p>
<ol>
  <li>
    <p class="title">Information We Collect:</p>
    <!-- <p>User Provided Information: When you register on "Confess Your Sins", we collect information such as your email address and any additional information you choose to share in your profile.</p> -->
    <p>Confessions and Content: Any confessions, messages, or content you post on "Confess Your Sins" are stored on cloud servers. We respect the sensitive nature of this information and maintain strict confidentiality.</p>
    <!-- <p>Usage Information: We collect information about your interactions with the app, such as the type of device you use, your IP address, and your browsing activities within the app.</p> -->
  </li>
  <li>
    <p class="title">How We Use Your Information:</p>
    <p>Providing the Service: We use the information you provide to deliver and enhance the features of "Confess Your Sins", including facilitating anonymous confessions, connecting with others, and personalizing your experience.</p>
    <!-- <p>Communication: We may use your email address to send you important notifications, updates, or information related to "Confess Your Sins". You can opt-out of non-essential communications.</p> -->
    <p>Improving the App: Analyzing user behavior helps us enhance the functionality, usability, and overall user experience of "Confess Your Sins".</p>
  </li>
  <li>
    <p class="title">Information Sharing:</p>
    <p>Confidentiality: Your confessions are kept confidential within the app. We do not share them with third parties unless required by law or as outlined in this Privacy Policy.</p>
    <p>Service Providers: We may share your information with third-party service providers to assist us in providing and improving the app. These providers are bound by confidentiality agreements and are only authorized to use your information as necessary to provide services to "Confess Your Sins".</p>
  </li>
  <li>
    <p class="title">Security:</p>
    <p>Data Security: We employ industry-standard security measures to protect your information from unauthorized access, disclosure, alteration, or destruction.</p>
    <p>Password Encryption: Passwords are encrypted to ensure an additional layer of security and confidentiality.</p>
  </li>
  <li>
    <p class="title">Your Choices:</p>
    <p>Account Information: You can review and update your account information within the app. If you wish to delete your account, please contact our support team.</p>
    <!-- <p>Opt-Out: You have the option to opt-out of non-essential communications by adjusting your preferences.</p> -->
  </li>
  <li>
    <p class="title">Changes to this Privacy Policy:</p>
    <p>We may update this Privacy Policy to reflect changes in our practices or for other operational, legal, or regulatory reasons. We will notify you of any material changes through the app.</p>
  </li>
  <li>
    <p class="title">Contact Us:</p>
    <p>If you have any questions or concerns about this Privacy Policy, please contact us using the contact us form <a href="javascript:;" routerLink="/contact" cdkMenuItem>here.</a></p>
    <p>By using "Confess Your Sins", you agree to the terms outlined in this Privacy Policy. Thank you for trusting us with your information.</p>
  </li>
</ol>
